<h1>Einloggen</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password, "Passwort" %>
    <%= password_field_tag :password %>
  </div>
  <br />
  <div class="actions">
  	<%= submit_tag "Einloggen" %>
  </div>
<% end %>
